/* socialLinks.css */
.sticky-icon {
  z-index: 1;
  position: fixed;
  top: 15%;
  right: 0%;
  width: 220px;
  display: flex;
  flex-direction: column;
}

.sticky-icon a {
  transform: translate(160px, 0px);
  border-radius: 50px 0px 0px 50px;
  text-align: left;
  margin: 2px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px;
  font-size: 22px;
  font-family: "Oswald", sans-serif;
  transition: all 0.8s;
}

.sticky-icon a:hover {
  color: #fff;
  transform: translate(0px, 0px);
}

.sticky-icon a:hover i {
  transform: rotate(360deg);
}

.Resume {
  background-color: #0a66c2; /* Red for Resume */
  color: #fff;
}

.Blogs {
  background-color: #fd1d1d; /* Blue for Blogs */
  color: #fff;
}
.Mail {
  background-color: #fd1d1d; /* Blue for Blogs */
  color: #fff;
}

.GitHub {
  background-color: #1b1b1b; /* Black for GitHub */
  color: #fff;
}

.Linkedin {
  background-color: #0a66c2; /* Blue for LinkedIn */
  color: #fff;
}

.sticky-icon a i {
  background-color: #fff;
  height: 40px;
  width: 40px;
  color: #000;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  margin-right: 20px;
  transition: all 0.5s;
}

/* Additional styling for specific icons */
.sticky-icon a i.fa-github {
  color: #000000; /* White for GitHub */
}

.sticky-icon a i.fa-linkedin {
  color: #0a66c2; /* Blue for LinkedIn */
}
.sticky-icon a i.fa-download {
  color: #0a66c2;
}
.sticky-icon a i.fa-envelope {
  color: #fd1d1d;
}

.sticky-icon a i.fa-blog {
  color: #fd1d1d; /* Blue for LinkedIn */
}
