.sticky-icon {
  @apply w-[140px] sm:w-[180px];
  z-index: 1;
  position: fixed;
  top: 15%;
  right: 0%;
  display: flex;
  flex-direction: column;
}

.sticky-icon a {
  @apply text-[16px] m-[2px] sm:text-[22px] transform translate-x-[110px] sm:translate-x-[130px] flex items-center justify-start;
  border-radius: 50px 0px 0px 50px;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  font-family: "Oswald", sans-serif;
  transition: all 0.8s;
  color: white;
}

.GitHub {
  background-color: black;
}
.Email {
  background-color: #6074d4;
}
.Resume {
  background-color: #6074d4;
}
.Linkedin {
  background-color: #4295c2;
}
.Blogs {
  background-color: #4295c2;
}
.sticky-icon a:hover {
  color: #fff;
  transform: translate(0px, 0px);
}

.sticky-icon a:hover i {
  transform: rotate(360deg);
}

.sticky-icon a:hover img {
  transform: rotate(360deg);
}

.sticky-icon a i {
  @apply h-[25px] w-[25px] text-center rounded-full mr-[20px]  bg-white text-black leading-[25px] sm:leading-[40px] sm:w-[40px] sm:h-[40px];
  transition: all 0.5s;
}
.sticky-icon a img {
  @apply h-[25px] w-[25px] text-center rounded-full mr-[20px]  bg-white text-black leading-[25px] sm:leading-[40px] sm:w-[40px] sm:h-[40px];
  transition: all 0.5s;
}
